
  .banner {
    display:flex;
    justify-content:center;
    margin: 0 30px;
  }
  .main {
  margin: auto;
  width: 70%;
  padding: 10px;
  }
  .video {
    display:flex;
    justify-content:center;
    margin-top: 30px;
  }
  .main img {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
  h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
  }
  footer .row {
    display: flex;
    align-items: center;
  }
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
footer ul {
    list-style: none;
  }
  
  footer li img {
    width: 30px;
    height: 30px;
  }
  table, td, th {
    border: 1px solid black;
  }
  th, td {
    padding: 15px;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
  }
  
  th {
    height: 70px;
  }
  tr:hover {
    background-color: #f5f5f5;
  }
  #haisan {
    margin: 50px;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    div.banner {
      display: none;
    }
  }